
.stopwatch {
    background-color: rgba(32, 30, 30, 0.3);
    border-radius: 10px;
    filter: blur(0.2);
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    
}